* {
  margin: 0;
  padding: 0;
  background: #1D1D1D;
  color: white;
}
/* header */
.App-header {
  /* background: #232323; */
  /* color: white; */
  margin-bottom: 2%;
  box-shadow:  0 0 20px black;
  padding: 10px 5% 10px 5%;

}
.App-title-length {
  float: right;
  margin-top: -30px;
}

.App-container {
margin-bottom: 30px;
}

.App-content{
  height: 500px;
}

.content {
  border: 1px solid silver;
  margin: 5%;
  padding: 10px;
  border-radius: 3px;
  color: black;
  background: white;
  margin-top: 1%;

}

.content span {
  color: black;
  background: white;

}
.content strong {
  color: black;
  background: white;
}

.content-loading {
  text-align: center;
  margin-top: 100px;
}

div::-webkit-scrollbar {
width: 8px;  /* remove scrollbar space */
background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
div::-webkit-scrollbar-thumb {
background: white;
border-radius: 20px;
}