* {
  margin: 0;
  padding: 0;
  background: #1D1D1D;
  color: white;
}

a:hover {
  text-decoration: none;
}
a:focus {
  color: white;
  text-decoration: none;
}
a:focus:hover {
  color: #3574B7;
}

/* header */
.App-header {
  margin-bottom: 2%;
  box-shadow:  0 0 20px black;
  padding: 10px 5% 10px 5%;

}

.App-container {
  margin-bottom: 30px;
}

/* AppCategoryFilter */
.left-panel-category {
  background: #232323;
  margin-top: 9px;
  padding: 0px;
}

.category-list{
  text-align: center;
  padding: 1px;
  background: #232323;
  /*border-radius: 3px;*/
}

.category-list:hover {
  background: white;
}


.App-content{
  height: 500px;
  display: block;
  overflow-y: scroll;
}

.content {
  /* border: 1px solid silver; */
  margin: 5%;
  padding: 10px;
  border-radius: 3px;
  /* color: black; */
  background: #232323;
  border: 1px solid #232323;
  margin-top: 1%;
  display: flex;
}

.content:hover {
  border: 1px ridge #3574B7;
}

.content-body {
  background: #232323;
  margin-left: 20px;

}

.content span {
  background: #232323;

  /* color: white; */

}
.content-body strong {
  background: #232323;
  color: #3477AD;
}
.content-img {
  background: #232323;
}

.content img {
  height: 150px;
  padding: 3px;
  border-radius: 3px;
  /* border-radius: 3px; */
}

.content-loading {
  text-align: center;
  margin-top: 100px;
}

.button-loading {
  width: 20%; 
  margin-top: 100px;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
}

div::-webkit-scrollbar {
width: 8px;  /* remove scrollbar space */
background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
div::-webkit-scrollbar-thumb {
background: white;
border-radius: 20px;
}

.input-filter {
  margin-top: 4%;
}

