* {
  margin: 0;
  padding: 0;
  background: #1D1D1D;
  color: white;
}
/* header */
.App-header {
  /* background: #232323; */
  /* color: white; */
  margin-bottom: 2%;
  box-shadow:  0 0 20px black;
  padding: 10px 5% 10px 5%;

}

.App-container {
  margin-bottom: 30px;
}

.App-content{
  height: 500px;
  display: block;
  overflow-y: scroll;

  
}

.content {
  border: 1px solid silver;
  margin: 5%;
  padding: 10px;
  border-radius: 3px;
  color: black;
  background: white;
  margin-top: 1%;

}

.content span {
  color: black;
  background: white;

}
.content strong {
  color: black;
  background: white;
}

.content img {
  width: 50px;
}

.content-loading {
  text-align: center;
  margin-top: 100px;
}

.button-loading {
  width: 20%; 
  margin-top: 100px;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
}

div::-webkit-scrollbar {
width: 8px;  /* remove scrollbar space */
background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
div::-webkit-scrollbar-thumb {
background: white;
border-radius: 20px;
}

.input-filter {
  margin-top: 4%;
}

/* AppCategoryFilter */

.left-panel {
  /* border-right: 1px solid rebeccapurple; */
  /* height: 500px; */
  /* padding-top: 100px; */
  /* border: 1px solid red; */
}
